.ui.segment:first-child {
    margin-bottom: 0;
}

.ui.huge.header {
    font-size: 4em;
}

#leftFloater {
    font-size: 2.8em !important;
}

.rightFloater {
    margin-top: .9em !important;
    /*margin-bottom: .1em !important;*/
}

#ceiling {
    padding-bottom: .1em;
}