.background {
    background-image: url(images/gym_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.jumbotopbuffer {
    height: 15em
}